* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: sans-serif;
    font-size: 16px;
    background:
    url("./Images/black-barbershops-haircut.webp") center/cover no-repeat fixed;
    /* position: relative; */
    /* animation */
    align-items: center;
 
   
  }
  .nav {
    background:black center/cover no-repeat fixed;
    padding: 15px 15px;
  position: absolute; 
    opacity: 0.7;
    z-index: 2;
    width: 100%;
   
    
    
    
  }
  a {
    color: #D19F68;
    ;
    text-decoration: none;
  }
  .menu,
  .submenu {
    list-style-type: none;
  }
  .logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
  }
  .item {
    padding: 10px;
  }
  .item.button {
    padding: 9px 5px;
  }
  .item:not(.button) a:hover,
  .item a:hover::after {
    color: gray;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-flow:  wrap;

    justify-content: space-between;
    align-items: center;

  }
  .menu li a {
    display: block;
    padding: 15px 5px;
    
  }
 
  .toggle {
    order: 2;
    font-size: 20px;
    animation: bounce 2s ease infinite;

  }
  .item.button {
    order: 2;
  }

  li{

    font-size: 2rem;
  }
  .item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
    font-weight: 700;
    font-style: Bold;
    
  }
  .active .item {
    display: block;
  
 
  }
  .button.secondary {
    /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
  }
  /* Submenu up from mobile screens */
  .submenu {
    display: none;
  }
  .submenu-active .submenu {
    display: block;
  }
  .has-submenu i {
    font-size: 12px;
  }
  .has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: white;
    padding-left: 5px;
  }
  .subitem a {
    padding: 10px 15px;
  }
  .submenu-active {
    background-color: #111;
    border-radius: 3px;
    height: 100%;
  }
  
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
  h1{
      color: white;
      position: relative;
      align-items: center;
      opacity: 0.5;
  }

  .Title2{
    color: white;
  
  float: right;
 margin-top: 26rem;
 padding-top: 2rem;
 padding-right: 4rem;
 padding-left: 4rem;
 padding-bottom: 2rem;
  font-size: 1.8rem;
  text-align: center;
  display: inline-flex;
  background: #D19F6880;

  
}


  
 .header{
     position: relative;
 }

 .Headings{
     position: relative;
     z-index: 1;
     top: 200px;
     font-weight: 500;
     font-size: 30px;
     text-align: center;
     padding-left: 200px;
     padding-top: 30px;

 }
 .button{
   padding-top: 1rem;
 }

 .submit-button{
    font-size: 1.3rem;
    cursor: pointer;
    width: 20rem;
    height: 4.1rem;
    border-radius: 0.5rem;
    background-color: #d8bd89;
    color: black;
    text-shadow: none;
       margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 1rem;
     }
     
     .submit-button:hover{
        background-color:#D69E32;
        transform: translateY(-5px);
     }